@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap');

* {
	margin: 0;
	padding: 0;
	font-size: 14px;
}

body {
	background-color: #fafafa;
	font-family: 'Nunito Sans', sans-serif;
	color: #111517;
}
